.nazz{
    background-color:rgba(229, 139, 208, 0.96);
}
.nanazz{
    background-image: url(/img/91591838_1183533845344344_8446043764425752576_n.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    height: 250px;
    
}